<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>

<form th:action="@{/board/new}" method="post" enctype="multipart/form-data">
    <div th:if="${userName == null}">
    <label for="name">작성자 : </label>
    <input id="name" name="name">
    </div>

    <div th:unless="${userName == null}">
        <label for="name">작성자 : </label>
        <span th:text="${userName}"></span>
        <input type="hidden" th:value="${userName}" name="name">
    </div>

    <div>
        <label for="attach">첨부파일 : </label>
        <input id="attach" name="file" type="file">
    </div>

    <div>
    <label for="title">제목 : </label>
    <input id="title" name="title">
    </div>

    <div>
    <label for="content">내용 : </label>
    <textarea id="content" name="content"></textarea>
    </div>

    <input type="hidden" name="parentId" th:value="${parentId}">

    <button type="submit" th:text="완료"></button>
    <button type="button" th:onclick="|location.href='@{/board}'|" th:text="취소"></button>
</form>

</body>
</html>